.footer {
    background-image: url('../images/footer-bg.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer .footer-item li a {
    text-transform: capitalize;
}

.footer .footer-title {
    color: var(--main-color);
    margin-bottom: 20px;
}

/* Social Media */
.social-media a {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: var(--main-color);
    background-color: transparent;
    border: 1px solid var(--main-color);
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    transition: all var(--transition);
}

.social-media a:hover {
    color: var(--white-color);
    background-color: var(--main-color-dark);
    border: 1px solid var(--main-color-dark);
}
